.liked-container {
  width: 100%;
}

.no-likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;

}

.go-to-home-btn {
  color: var(--primary-dark);
  border-bottom: 2px solid var(--primary-dark);
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.liked-video-card {
  width: 20%;
  background-color: var(--gray-light);
  padding: .5rem;
  border-radius: 5px;
}

.liked-video-card img {
  width: 100%;
}

.liked-videos {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-top: .5rem;
}