.history-container {
  width: 100%;
}

.no-history {
  display: flex;
  justify-content: center;
}

.history-video {
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  background-color: var(--gray-light);
  border-radius: 5px;
  margin: .3rem 0;
}

.video-and-details {
  display: flex;
  gap: 1rem;
  height: 15vh;
}

.history-title {
  font-weight: 600;
}

.history-channel {
  font-weight: 500;
  font-size: .7em;
  color: var(--gray-dark);
}

.history-description {
  font-size: .6rem;
  font-weight: 400;
  color: var(--gray-dark);
}

.ellipsis-items {
  left: -12rem;
}

.clear-button {
  cursor: pointer;
  border: 2px solid var(--secondary);
  padding: .5rem .8rem;
  border-radius: 5px;
}

@media (max-width: 980px){
    .history-title {
    font-weight: 600;
    font-size: .7rem;
  }
}

@media (max-width: 750px){
  .history-title {
  font-weight: 500;
  font-size: .6rem;
}

.history-channel {
    font-weight: 500;
    font-size: .5rem;
  }

  .history-description {
  font-size: .5rem;
  font-weight: 400;
}
}

@media (max-width: 470px){
  .history-title {
  font-size: .5rem;
}

.history-channel {
    font-size: .4rem;
  }

  .history-description {
    font-size: .4rem;
  }
}

@media (max-width: 420px){
  .history-title {
  font-size: .4rem;
}

.history-description {
    font-size: .3rem;
  }

  .history-video {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


  .video-and-details {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}