nav {
  position: sticky;
  top: 0;
  background-color: var(--primary-light);
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-light);
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary);
  font-family: 'Fredoka One',
    cursive;
  text-decoration: none;
}

.nav-middle {
  text-align: baseline;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  padding: .1rem 2rem .1rem .3rem;
}

.search-input {
  padding: 0 0.5rem;
  background: transparent;
}

.nav-right {
  display: flex;
  gap: 2rem;

}

.nav-right-items {
  display: flex;
  gap: .1rem;
  font-size: .9rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-dark);
}

.elp-items {
  text-decoration: none;
  color: var(--primary-light);
}

.greetUser {
  color: var(--primary-dark);
  font-weight: 500;
  text-decoration: underline;
}

.icon-user{
  font-size: 1.1rem;
}