.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 19%;
  height: 100%;
}

.sidebar-items {
  display: flex;
  align-items: baseline;
  gap: .5rem;
  padding: .3rem .3rem;
  border-radius: 5px;
  font-size: .9rem;
  text-decoration: none;
  color: var(--primary-dark);
  cursor: pointer;
}

.active {
  font-weight: 600;
  background-color: #E1E4E8;
}

.sidebar-items:hover {
  background-color: #E1E4E8;
}

@media (max-width: 700px) {
  .sidebar-hidden{
    display: none;
  }
}