.watch-later-container {
  width: 100%;
}

.watch-later-video {
  display: flex;
  justify-content: space-between;
  /* height: 15vh; */
  padding: .7rem;
  /* background-color: var(--gray-light); */
  border: 1px solid var(--gray-light);
  margin: .3rem 0;
}

.video-and-details {
  display: flex;
  gap: 1rem;
  height: 15vh;

}

.watch-later-title {
  font-weight: 600;
  /* font-size: .8em; */
}

.watch-later-channel {
  font-weight: 500;
  font-size: .7em;
  color: var(--gray-dark);
}

.ellipsis-items {
  left: -12rem;
}