.watch-later-container {
  width: 100%;
}

.watch-later-card {
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  background-color: var(--gray-light);
  border-radius: 5px;
  margin: .3rem 0;
}

.video-and-details {
  display: flex;
  gap: 1rem;
}


.watch-later-title {
  font-weight: 600;
  color: var(--primary-dark);
}

.watch-later-channel {
  font-weight: 500;
  font-size: .7em;
  color: var(--gray-dark);
}

.ellipsis-items {
  left: -12rem;
}