@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  font-family: 'Prompt',
    sans-serif;

  color: var(--vl-primary-light);
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

textarea,
input {
  outline: none;
  border: none;
}

i {
  color: var(--primary-dark);
}

.main-container {
  display: flex;
  gap: 2rem;
  background-color: var(--vl-primary-light);
  margin-top: 1rem;
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}